@import url('https://rsms.me/inter/inter.css');

html { font-family: 'Inter', sans-serif; }

body {
    background-color: #FFF;
    padding: 0px;
}


.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image {
    height: 150px;
    width: 150px;
    border-radius: 100px;
    background-color: #4a77d1;
    overflow: hidden;
}

img {
    width: 100%;
}

.wrapper h1 {
    margin: 0px;
    padding: 0px;
    margin-top: 12px;
    color: black;
}

.container .wrapper h3 {
    margin: 0px;
    padding: 0px;
    font-weight: 1000;
}
.container .wrapper h4 {
    margin: 0px;
    padding: 0px;
    font-weight: 1000;
    font-size:small;
    color: black;

}
.socials {
    margin-top: 18px;
    display: flex;
    align-items: center;
    font-weight: bolder;
}

.icon {
    height: 32px;
    width: 32px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
    background-repeat: no-repeat;
    background-size: contain;
}


.icon.fb {
    background-image: url('../img/fb.svg');
}

.icon.insta {
    background-image: url('../img/insta.svg');
}

.icon.linkedin { 
    background-image: url('../img/linkedin.svg');
    width: 80px;
    height: 40px;
}

.nav{
    font-size: 16px;
}

{
.tenor-gif-embed
    width: 80px;
}